#body1
{
background-image:url("https://images.unsplash.com/photo-1458245201577-fc8a130b8829?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80");
background-repeat:no-repeat;
background-size:cover;
}

#body2
{
background-image:url("https://images.unsplash.com/photo-1558904541-efa843a96f01?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80");
background-repeat:no-repeat;
background-size:cover;
}

#body3
{
background-image:url("https://images.unsplash.com/photo-1558904541-efa843a96f01?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80");
background-repeat:no-repeat;
background-size:cover;
}

.navbar
{
	width: 90%;
	margin: 0 auto;
}

.navbarwhole
{
	background: #2F4F4F;
}

.navbarwhole::after
{
	content: '';
	display: table;
	clear: both;
}

nav
{
	float: right;
}

nav ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li
{
	display: inline-block;
	margin-left: 150px;
	padding-top: 10px;
}

nav a
{
	color: #FDF5E6;
	text-decoration: none;
	text-transform: uppercase;
}

img
{
	float: left;
	border-style: inset;
	border-radius: 8px;
	border-color: #FDF5E6; 
}

#homeheader
{
	text-align: center;
	
	
}

#aboutheader
{
	text-align: center;
	
	
}

#contheader
{
	text-align: center;
	
	
}
